@tailwind base;
@tailwind components;
@tailwind utilities;

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
.image-frame {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}
